<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
    <form action="/result" method="post">
        Your Name: <input type="text" name="name"><br><br>
        Location: <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Mountian View">Mountian View</option>
            <option value="Cupertino">Cupertino</option>
            <option value="Palo Alto">Palo Alto</option>
        </select><br><br>
        Favorite language: <select name="language">
            <option value="Python">Python</option>
            <option value="Java Script">Java Script</option>
            <option value="C++">C++</option>
            <option value="Perl">Perl</option>
        </select><br><br>
        <p>Comment (optional)</p>
        <input type="textarea" name="bobo"><br><br>
        <input type="submit" name="bobo" value="Submit">
    </form>
    
</body>
</html>
